@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #2D4B4B;
    --cor-destaque: #04b861;
    --fundo: #FAFAFA;
    --font: "Vollkorn", Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color: var(--fundo);
}

header {
    padding: 20px;
    background-color: var(--cor-principal);
}

header h1 {
    display: inline;
    font-family: var(--font);
}

span {
    color: var(--cor-destaque);
}

nav {
    display: inline;
    margin-left: 600px;
}


nav a {
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}